<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frisky.icebreaker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/icon_first"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/icon_first_round"
        android:theme="@style/FriskyAppTheme"
        tools:ignore="UnusedAttribute">
        <service
            android:name=".services.OrderSessionService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".activities.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignInEmailActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity
            android:name=".activities.HomeActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RestaurantActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.ViewUserActivity" />
        <activity
            android:name=".activities.SetupProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.QRScanActivity" />
        <activity
            android:name=".activities.MenuActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity android:name=".activities.CartActivity" />
        <activity android:name=".activities.OrderActivity" />
        <activity android:name=".activities.OptionsActivity" />
        <activity android:name=".activities.OrderSummaryActivity" />
    </application>

</manifest>