<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frisky.icebreaker">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_first"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/icon_first_round"
        android:theme="@style/FriskyAppTheme"
        tools:ignore="UnusedAttribute">
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".HomeActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".restaurants.RestaurantActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".profile.ViewUserActivity" />
        <activity
            android:name=".profile.SetupProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".social.ChatActivity" />
        <activity android:name=".orders.MenuActivity" />
        <activity android:name=".orders.CartActivity" />
        <activity android:name=".orders.OrderActivity" />
        <activity android:name=".orders.QRScanActivity" />
    </application>

</manifest>